:root {
  --color-primario: #60a859;
  --color-secundario: #ff6600;
}

body {
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
}

h1 a {
  color: aliceblue;
}

@media (max-width: 767px) {
  /* -------------------------------------------------- */
  /* -------------------------Header------------------------- */
  /* -------------------------------------------------- */

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--color-primario);
  }

  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: aliceblue;
  }

  .cerrar-menu {
    color: #1c1c1c;
  }

  .nav {
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: aliceblue;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(240, 248, 255, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    gap: 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .nav-list li a {
    text-decoration: none;
    color: var(--color-primario);
    padding: 0.3rem;
    border-radius: 1rem;
  }

  .nav-list li a:hover {
    color: aliceblue;
    background-color: var(--color-primario);
    transition: 0.4s;
  }

  h1 {
    color: aliceblue;
    font-family: "Damion", cursive;
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
  }

  /* -------------------------------------------------- */
  /* -------------------------Contenido------------------------- */
  /* -------------------------------------------------- */

  .swiperPrincipal {
    width: 100%;
  }

  .swiperPrincipal img {
    width: 100%;
    object-fit: cover;
  }

  .swiperPrincipal .swiper-button-prev,
  .swiperPrincipal .swiper-button-next {
    color: var(--color-primario);
    --swiper-navigation-size: 10px;
    background-color: aliceblue;
    height: 30px;
    width: 20px;
    margin-top: -15px;
    opacity: 0;
    transition: 0.3s;
  }

  .swiperPrincipal .swiper-button-prev {
    border-radius: 0 65px 65px 0;
    left: -5px;
  }

  .swiperPrincipal .swiper-button-next {
    border-radius: 65px 0 0 65px;
    right: -5px;
  }

  .swiperPrincipal:hover .swiper-button-prev,
  .swiperPrincipal:hover .swiper-button-next {
    opacity: 1;
  }

  .swiperPrincipal .swiper-pagination {
    --swiper-pagination-color: var(--color-primario);
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-pagination-bullet-vertical-gap: 6px;
  }

  .sliders {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: auto;
  }

  .sliders h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--color-secundario);
  }

  .contenedorNuevosIngresos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .nuevosIngresos {
    max-width: 90%;
    display: flex;
    flex-direction: column;
  }

  .nuevosIngresos span {
    font-weight: 900;
  }

  .swiper-ingresos {
    width: 90%;
    margin: 0;
  }

  .swiper-ingresos img {
    width: 100%;
    object-fit: cover;
  }

  .swiper-ingresos .swiper-button-prev,
  .swiper-ingresos .swiper-button-next {
    color: var(--color-primario);
    --swiper-navigation-size: 30px;
    background-color: aliceblue;
    height: 60px;
    width: 40px;
    margin-top: -30px;
    opacity: 0;
    transition: 0.3s;
  }

  .swiper-ingresos:hover .swiper-button-prev,
  .swiper-ingresos:hover .swiper-button-next {
    opacity: 1;
  }

  .swiper-ingresos .swiper-button-prev {
    border-radius: 0 65px 65px 0;
    left: -5px;
  }

  .swiper-ingresos .swiper-button-next {
    border-radius: 65px 0 0 65px;
    right: -5px;
  }

  .swiper-ingresos .swiper-pagination {
    --swiper-pagination-color: var(--color-primario);
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-pagination-bullet-vertical-gap: 6px;
  }

  .contenedorOfertas {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .contenedorOfertas img {
    margin-top: 0.5rem;
    border: solid 0.2rem var(--color-primario);
    border-radius: 1rem;
  }

  .nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    text-align: center;
    color: aliceblue;
    background-color: var(--color-primario);
    font-size: 2rem;
  }

  .nosotros h2 {
    margin: 0;
    border-radius: 2%;
    font-size: 3rem;
    margin-top: 2rem;
  }

  .nosotros p {
    margin: 0;
  }

  .nosotros i {
    font-size: 3rem;
  }

  .nosotrosUbicacion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .nosotrosUbicacion iframe {
    width: 90%;
    border-radius: 2%;
    margin-top: 1.5rem;
  }

  .nosotrosEnvioPagos {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
  }

  .nosotrosEnvioPagos h2 {
    margin: 0;
  }

  .nosotrosEnvioPagos p {
    margin-top: 0.5rem;
    font-size: 1.7rem;
    text-align: center;
  }

  .nosotrosEnviosLogos {
    gap: 4rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nosotrosEnvios {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nosotrosEnvios img {
    width: 8rem;
  }

  .nosotosTitulo {
    color: var(--color-primario);
    margin: auto;
    margin-top: 2rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 2rem;
    gap: 2rem;
  }

  .nosotrosPagos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nosotrosPagos h2 {
    color: var(--color-primario);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .nosotrosPagos i {
    color: var(--color-primario);
    transform: rotate(-45deg);
    width: 4rem;
    height: 4rem;
  }

  .nosotrosPagosLogos {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .nosotrosPagos img {
    width: 4rem;
    height: 2rem;
  }

  .instagramIcono {
    padding-left: 2rem;
  }

  .botonWhatsapp {
    background-color: transparent;
    border: 0;
    position: fixed;
    left: 90%;
    top: 90%;
    color: var(--color-primario);
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .botonWhatsapp img {
    height: 3rem;
    width: 3rem;
    border-radius: 20%;
  }

  /* -------------------------------------------------- */
  /* -------------------------Footer------------------------- */
  /* -------------------------------------------------- */

  .footer {
    margin-top: 2rem;
    background-color: var(--color-primario);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  footer p {
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .redes {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 1rem;
    background-color: var(--color-primario);
    padding-top: 2rem;
  }

  .redes i {
    color: aliceblue;
    font-size: 3rem;
  }

  .contenedoresFooter {
    width: 80%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
  }

  .contenedoresFooter ul {
    padding: 0;
  }

  .contenedoresFooter ul li {
    list-style: none;
    padding-bottom: 1rem;
  }

  .contenedoresFooter ul li a {
    text-decoration: none;
    color: aliceblue;
  }

  .contenedoresFooter .logoFooter {
    font-family: "Damion", cursive;
    font-size: 4rem;
    font-weight: 100;
    margin: 0;
  }

  .contenedorLegion p {
    font-size: 1.3rem;
  }

  .numeroCel {
    display: flex;
    align-items: center;
  }

  .numeroCel p {
    margin: 0.2rem;
    padding-left: 0.5rem;
  }

  .numeroTel {
    display: flex;
    align-items: center;
  }

  .numeroTel p {
    font-size: 1rem;
    margin: 0.2rem;
    padding-left: 0.5rem;
  }

    /* -------------------------------------------------- */
  /* -------------------------Form------------------------- */
  /* -------------------------------------------------- */

  form {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 2rem auto;
    width: 50%;
    gap: 1rem;
  }

  form input,
  textarea {
    border-radius: 0.5rem;
    border: var(--color-secundario) 0.1rem solid;
    height: 2.5rem;
  }

  input:focus,
  textarea:focus {
    border: var(--color-primario) 0.2rem solid;
    outline: none;
  }

  form button {
    margin: auto;
    width: 6rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: aliceblue;
    border: var(--color-secundario) 0.2rem solid;
  }

  form button:active {
    border: var(--color-primario) 0.2rem solid;
  }

  form .errors{
    color: red;
    font-weight: 800;
    margin: 0;
  }

  /* -------------------------------------------------- */
  /* -------------------------Info------------------------- */
  /* -------------------------------------------------- */

  .main {
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    width: 90%;
    background-color: var(--color-primario);
    border-radius: 1rem;
  }

  .main h2 {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 1rem 0 1rem 0;
  }

  .nombre {
    font-family: "Damion", cursive;
    font-weight: 100;
    font-size: 2rem;
  }

  .textoH2 {
    width: 90%;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
  }

  .posInfo {
    display: flex;
    justify-content: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
  }

  .info img {
    border-radius: 0 0 1rem 1rem;
  }

  .textoInfo {
    border-radius: 1rem 1rem 0 0;
    padding: 0.5rem;
    background-color: aliceblue;
  }
}
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
@media (min-width: 767px) and (max-width: 1024px) {
  /* -------------------------------------------------- */
  /* -------------------------Header------------------------- */
  /* -------------------------------------------------- */

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--color-primario);
  }

  .logo {
    max-width: 5rem;
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }

  .nav-list li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;
    padding: 0.3rem;
    border-radius: 1rem;
  }

  .nav-list li a:hover {
    color: var(--color-primario);
    background-color: aliceblue;
    transition: 0.4s;
  }

  .abrir-menu,
  .cerrar-menu {
    display: none;
  }

  h1 {
    color: aliceblue;
    font-family: "Damion", cursive;
    font-size: 5rem;
    font-weight: 100;
    margin: 0;
  }

  /* -------------------------------------------------- */
  /* -------------------------Contenido------------------------- */
  /* -------------------------------------------------- */

  .swiperPrincipal {
    width: 100%;
  }

  .swiperPrincipal img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .swiperPrincipal .swiper-button-prev,
  .swiperPrincipal .swiper-button-next {
    color: var(--color-primario);
    --swiper-navigation-size: 30px;
    background-color: aliceblue;
    height: 60px;
    width: 40px;
    margin-top: -30px;
    opacity: 0;
    transition: 0.3s;
  }

  .swiperPrincipal .swiper-button-prev {
    border-radius: 0 65px 65px 0;
    left: -5px;
  }

  .swiperPrincipal .swiper-button-next {
    border-radius: 65px 0 0 65px;
    right: -5px;
  }

  .swiperPrincipal:hover .swiper-button-prev,
  .swiperPrincipal:hover .swiper-button-next {
    opacity: 1;
  }

  .swiperPrincipal .swiper-pagination {
    --swiper-pagination-color: var(--color-primario);
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-pagination-bullet-vertical-gap: 6px;
  }

  .sliders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
  }

  .sliders h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--color-secundario);
    margin: 0;
    margin-top: 1rem;
  }

  .contenedorNuevosIngresos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .nuevosIngresos {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .nuevosIngresos span {
    font-weight: 900;
  }

  .swiper-ingresos {
    width: 90%;
    margin: 0;
  }

  .swiper-ingresos img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  .swiper-ingresos .swiper-button-prev,
  .swiper-ingresos .swiper-button-next {
    color: var(--color-primario);
    --swiper-navigation-size: 30px;
    background-color: aliceblue;
    height: 60px;
    width: 40px;
    margin-top: -30px;
    opacity: 0;
    transition: 0.3s;
  }

  .swiper-ingresos:hover .swiper-button-prev,
  .swiper-ingresos:hover .swiper-button-next {
    opacity: 1;
  }

  .swiper-ingresos .swiper-button-prev {
    border-radius: 0 65px 65px 0;
    left: -5px;
  }

  .swiper-ingresos .swiper-button-next {
    border-radius: 65px 0 0 65px;
    right: -5px;
  }

  .swiper-ingresos .swiper-pagination {
    --swiper-pagination-color: var(--color-primario);
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-pagination-bullet-vertical-gap: 6px;
  }

  .contenedorOfertas {
    width: 90%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .contenedorOfertas img {
    width: 270px;
    height: 270px;
    border: solid 0.2rem var(--color-primario);
    border-radius: 1rem;
  }

  .nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    text-align: center;
    color: aliceblue;
    background-color: var(--color-primario);
    font-size: 2rem;
  }

  .nosotros h2 {
    margin: 0;
    border-radius: 2%;
    font-size: 3rem;
    margin-top: 2rem;
  }

  .nosotros p {
    margin: 0;
  }

  .nosotros i {
    font-size: 3rem;
  }

  .nosotrosUbicacion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .nosotrosUbicacion iframe {
    width: 90%;
    border-radius: 2%;
    margin-top: 1.5rem;
  }

  .nosotrosEnvioPagos {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
  }

  .nosotrosEnvioPagos h2 {
    margin: 0;
  }

  .nosotrosEnvioPagos p {
    margin-top: 0.5rem;
    font-size: 1.7rem;
    text-align: center;
  }

  .nosotrosEnviosLogos {
    gap: 4rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nosotrosEnvios {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nosotrosEnvios img {
    width: 8rem;
  }

  .nosotosTitulo {
    color: var(--color-primario);
    margin-top: 2rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 2rem;
    gap: 2rem;
  }

  .nosotrosPagos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nosotrosPagos h2 {
    color: var(--color-primario);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .nosotrosPagos i {
    color: var(--color-primario);
    transform: rotate(-45deg);
    width: 4rem;
    height: 4rem;
  }

  .nosotrosPagosLogos {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .nosotrosPagos img {
    width: 4rem;
    height: 2rem;
  }

  .instagramIcono {
    padding-left: 2rem;
  }

  .botonWhatsapp {
    background-color: transparent;
    border: 0;
    position: fixed;
    left: 93%;
    top: 90%;
    color: var(--color-primario);
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .botonWhatsapp img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
  }

  /* -------------------------------------------------- */
  /* -------------------------Footer------------------------- */
  /* -------------------------------------------------- */

  .footer {
    margin-top: 2rem;
    background-color: var(--color-primario);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
  }

  .footer h3 {
    font-size: 30px;
  }

  .redes {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 4rem;
    background-color: var(--color-primario);
  }

  .redes i {
    color: aliceblue;
    font-size: 3rem;
  }

  .contenedoresFooter {
    width: 15rem;
    font-size: 1.3rem;
  }

  .contenedoresFooter ul {
    padding: 0;
  }

  .contenedoresFooter ul li {
    list-style: none;
    padding-bottom: 1rem;
  }

  .contenedoresFooter ul li a {
    text-decoration: none;
    color: aliceblue;
  }

  .contenedoresFooter .logoFooter {
    font-family: "Damion", cursive;
    font-size: 4rem;
    font-weight: 100;
    margin: 0;
  }

  .contenedorLegion p {
    font-size: 1.5rem;
  }

  .numeroCel {
    display: flex;
    align-items: center;
  }

  .numeroCel p {
    margin: 0.2rem;
    padding-left: 0.5rem;
  }

  .numeroTel {
    display: flex;
    align-items: center;
  }

  .numeroTel p {
    font-size: 1rem;
    margin: 0.2rem;
    padding-left: 0.5rem;
  }

  /* -------------------------------------------------- */
  /* -------------------------Form------------------------- */
  /* -------------------------------------------------- */

  form {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 2rem auto;
    width: 50%;
    gap: 1rem;
  }

  form input,
  textarea {
    border-radius: 0.5rem;
    border: var(--color-secundario) 0.1rem solid;
    height: 2.5rem;
  }

  input:focus,
  textarea:focus {
    border: var(--color-primario) 0.2rem solid;
    outline: none;
  }

  form button {
    margin: auto;
    width: 6rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: aliceblue;
    border: var(--color-secundario) 0.2rem solid;
  }

  form button:active {
    border: var(--color-primario) 0.2rem solid;
  }
  
  form .errors{
    color: red;
    font-weight: 800;
    margin: 0;
  }
}
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
@media (min-width: 1025px) {
  /* -------------------------------------------------- */
  /* -------------------------Header------------------------- */
  /* -------------------------------------------------- */

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--color-primario);
  }

  .logo {
    max-width: 5rem;
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }

  .nav-list li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;
    padding: 0.3rem;
    border-radius: 1rem;
  }

  .nav-list li a:hover {
    color: var(--color-primario);
    background-color: aliceblue;
    transition: 0.4s;
  }

  .abrir-menu,
  .cerrar-menu {
    display: none;
  }

  h1 {
    color: aliceblue;
    font-family: "Damion", cursive;
    font-size: 5rem;
    font-weight: 100;
    margin: 0;
  }

  /* -------------------------------------------------- */
  /* -------------------------Contenido------------------------- */
  /* -------------------------------------------------- */

  .swiperPrincipal {
    width: 100%;
    max-width: 85%;
  }

  .swiperPrincipal img {
    height: 344px;
    width: 100%;
    object-fit: cover;
  }

  .swiperPrincipal .swiper-button-prev,
  .swiperPrincipal .swiper-button-next {
    color: var(--color-primario);
    --swiper-navigation-size: 30px;
    background-color: aliceblue;
    height: 60px;
    width: 40px;
    margin-top: -30px;
    opacity: 0;
    transition: 0.3s;
  }

  .swiperPrincipal .swiper-button-prev {
    border-radius: 0 65px 65px 0;
    left: -5px;
  }

  .swiperPrincipal .swiper-button-next {
    border-radius: 65px 0 0 65px;
    right: -5px;
  }

  .swiperPrincipal:hover .swiper-button-prev,
  .swiperPrincipal:hover .swiper-button-next {
    opacity: 1;
  }

  .swiperPrincipal .swiper-pagination {
    --swiper-pagination-color: var(--color-primario);
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-pagination-bullet-vertical-gap: 6px;
  }

  .sliders {
    display: flex;
    flex-direction: column;
  }

  .sliders h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--color-secundario);
    margin: 0;
    margin-top: 1rem;
  }

  .contenedorNuevosIngresos {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .nuevosIngresos {
    max-width: 45%;
    text-align: center;
  }

  .nuevosIngresos span {
    font-weight: 900;
  }

  .swiper-ingresos {
    width: 35%;
    margin: 0;
  }

  .swiper-ingresos img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  .swiper-ingresos .swiper-button-prev,
  .swiper-ingresos .swiper-button-next {
    color: var(--color-primario);
    --swiper-navigation-size: 30px;
    background-color: aliceblue;
    height: 60px;
    width: 40px;
    margin-top: -30px;
    opacity: 0;
    transition: 0.3s;
  }

  .swiper-ingresos:hover .swiper-button-prev,
  .swiper-ingresos:hover .swiper-button-next {
    opacity: 1;
  }

  .swiper-ingresos .swiper-button-prev {
    border-radius: 0 65px 65px 0;
    left: -5px;
  }

  .swiper-ingresos .swiper-button-next {
    border-radius: 65px 0 0 65px;
    right: -5px;
  }

  .swiper-ingresos .swiper-pagination {
    --swiper-pagination-color: var(--color-primario);
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-pagination-bullet-vertical-gap: 6px;
  }

  .contenedorOfertas {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .contenedorOfertas img {
    width: 250px;
    height: 250px;
    margin-left: 1rem;
    border: solid 0.2rem var(--color-primario);
    border-radius: 1rem;
  }

  .contenedorOfertas img:hover {
    transform: scale(105%);
  }

  .Sucursales {
    height: 100px;
  }

  .SucursalesP {
    height: 80px;
  }

  .nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    padding-bottom: 2rem;
    width: 90%;
    border-radius: 2%;
    text-align: center;
    color: aliceblue;
    background-color: var(--color-primario);
    font-size: 2rem;
  }

  .nosotros h2 {
    margin: 0;
    border-radius: 2%;
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .nosotros p {
    margin: 0;
  }

  .nosotros i {
    font-size: 3rem;
  }

  .nosotrosUbicacion {
    display: flex;
    justify-content: space-around;
  }

  .nosotrosUbicacion iframe {
    border-radius: 2%;
    margin-top: 1.5rem;
    max-width: 90%;
  }

  .nosotrosEnvioPagos {
    display: flex;
    justify-content: space-around;
  }

  .nosotrosEnvioPagos h2 {
    margin: 0;
  }

  .nosotrosEnvioPagos p {
    width: 30rem;
  }

  .nosotrosEnviosLogos {
    gap: 4rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

  .nosotrosEnvios {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nosotrosEnvios img {
    width: 8rem;
  }

  .nosotosTitulo {
    color: var(--color-primario);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 2rem;
    gap: 1rem;
  }

  .nosotrosPagos {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nosotrosPagos h2 {
    color: var(--color-primario);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .nosotrosPagos i {
    color: var(--color-primario);
    transform: rotate(-45deg);
    width: 4rem;
    height: 4rem;
  }

  .nosotrosPagosLogos {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .nosotrosPagos img {
    height: 1.5rem;
  }

  .instagramIcono {
    padding-left: 2rem;
  }

  .botonWhatsapp {
    background-color: transparent;
    border: 0;
    position: fixed;
    left: 95%;
    top: 90%;
    color: var(--color-primario);
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .botonWhatsapp img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
  }

  /* -------------------------------------------------- */
  /* -------------------------Footer------------------------- */
  /* -------------------------------------------------- */

  .footer {
    margin-top: 2rem;
    background-color: var(--color-primario);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
  }

  .footer h3 {
    font-size: 30px;
  }

  .redes {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 4rem;
    background-color: var(--color-primario);
  }

  .redes i {
    color: aliceblue;
    font-size: 3rem;
  }

  .contenedoresFooter {
    width: 15rem;
    font-size: 1.3rem;
  }

  .contenedoresFooter ul {
    padding: 0;
  }

  .contenedoresFooter ul li {
    list-style: none;
    padding-bottom: 1rem;
  }

  .contenedoresFooter ul li a {
    text-decoration: none;
    color: aliceblue;
  }

  .contenedoresFooter .logoFooter {
    font-family: "Damion", cursive;
    font-size: 4rem;
    font-weight: 100;
    margin: 0;
  }

  .contenedorLegion p {
    font-size: 1.5rem;
  }

  .numeroCel {
    display: flex;
    align-items: center;
  }

  .numeroCel p {
    margin: 0.2rem;
    padding-left: 0.5rem;
  }

  .numeroTel {
    display: flex;
    align-items: center;
  }

  .numeroTel p {
    font-size: 1rem;
    margin: 0.2rem;
    padding-left: 0.5rem;
  }

    /* -------------------------------------------------- */
  /* -------------------------Form------------------------- */
  /* -------------------------------------------------- */

  form {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 2rem auto;
    width: 50%;
    gap: 1rem;
  }

  form input,
  textarea {
    border-radius: 0.5rem;
    border: var(--color-secundario) 0.1rem solid;
    height: 2.5rem;
  }

  input:focus,
  textarea:focus {
    border: var(--color-primario) 0.2rem solid;
    outline: none;
  }

  form button {
    margin: auto;
    width: 6rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: aliceblue;
    border: var(--color-secundario) 0.2rem solid;
  }

  form button:active {
    border: var(--color-primario) 0.2rem solid;
  }

  form .errors{
    color: red;
    font-weight: 800;
    margin: 0;
  }

  /* -------------------------------------------------- */
  /* -------------------------Info------------------------- */
  /* -------------------------------------------------- */

  .main {
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    width: 90%;
    background-color: var(--color-primario);
    border-radius: 1rem;
  }

  .main h2 {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin-top: 1rem 0 1rem 0;
  }

  .nombre {
    font-family: "Damion", cursive;
    font-weight: 100;
    font-size: 5.5rem;
  }

  .textoH2 {
    font-size: 1.3rem;
  }

  .posInfo {
    display: flex;
    justify-content: center;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
  }

  .info img {
    width: 55%;
    border-radius: 1rem;
  }

  .textoInfo {
    border-radius: 1rem;
    padding: 0.5rem;
    width: 40%;
    background-color: aliceblue;
  }
}
@media (min-width: 1600px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primario);
  }

  .logo {
    max-width: 5rem;
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
  }

  .nav-list li a {
    text-decoration: none;
    color: aliceblue;
  }

  .abrir-menu,
  .cerrar-menu {
    display: none;
  }

  .sliders {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 1600px;
    height: 600px;
    margin: auto;
  }

  .contenedorNuevosIngresos {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 950px;
  }

  .nuevosIngresos {
    max-width: 25%;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }

  .swiper-ingresos {
    width: 60%;
    margin: 0;
  }

  .contenedorOfertas {
    padding: 0;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 2rem;
  }

  .contenedorOfertas img {
    width: 270px;
    height: 270px;
  }

  .nosotros h2 {
    margin: 0;
    border-radius: 2%;
    font-size: 3rem;
    margin-top: 2rem;
  }

  .nosotros i {
    font-size: 3rem;
  }

  .nosotrosUbicacion iframe {
    max-width: 100%;
    border-radius: 2%;
    margin-top: 1.5rem;
  }

  .nosotrosEnvioPagos h2 {
    margin: 0;
  }

  .nosotrosEnvioPagos p {
    width: 30rem;
  }

  .nosotosTitulo {
    width: 33rem;
  }

  .nosotrosPagos i {
    width: 4rem;
    height: 4rem;
  }

  .catalogo{
    width: 90%;
    margin: auto;
  }

  .catalogo-cards{
    width: 300px;
    height: 300px;
  }

  .catalogo-cards img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
